<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @permissaoacesso.descricao %>
</p>

<%= link_to 'Edit', edit_permissaoacesso_path(@permissaoacesso) %> |
<%= link_to 'Back', permissaoacessos_path %>
