<header> 
<div> 
    <nav> 
        <ul> <% if logged_in? %> 
            <li> 
                <ul> 
                    <li><%= link_to "Meu perfil", current_user %></li> 
                    <li> <%= link_to "Encerrar sessão", sign_out_path, method: "delete" %> </li> 
                </ul> 
            </li> 
            <% elsif(controller.controller_name != 'sessions') %>
            <li><%= link_to "clique aqui para Logar", root_path %></li> 
            <% end %> 
        </ul> 
    </nav> 
</div> </header>